#root {
  
}

.title {
  margin-bottom: 30px;
}

#about {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: aquamarine;
}

#about-paragraph {
  font-size: large;
}

#project-section {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 30px;
  background-color: #f7f7f5;
}

#projects {
  display: grid;
  justify-items: auto;
  grid-gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
	grid-template-rows: 1fr;
}

.project {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 10px;
  min-height: 100px;
  border-width: 1px;
  border-style: solid;
  border-radius: 20px;
  border-color: #e0e0de;
  background-color: #fafaf7;
}

.project-header {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.project-title {
  padding-right: 10px;
}

.project-link {
  margin-left: auto;
  margin-top: 10px;
  margin-right: 20px;
}

.project-description {
  margin-bottom: 10px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  padding: 5px;
  margin: 2px;
  width: max-content;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  border-color: #e0e0de;
  background-color: #fafaf7;
}

#resources {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: aquamarine;
}

#contact {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: antiquewhite;
}

/* Breakpoints */

@media (min-width: 576px) {
  #portfolio {
    max-width: 576px;
    margin: 0px auto;
  }
}

@media (min-width: 768px) {
  #portfolio {
    max-width: 768px;
    margin: 0px auto;
  }
}

@media (min-width: 992px) {
  #portfolio {
    max-width: 992px;
    margin: 0px auto;
  }
}

@media (min-width: 1200px) {
  #portfolio {
    max-width: 1200px;
    margin: 0px auto;
  }
}

@media (min-width: 1400px) {
  #portfolio {
    max-width: 1400px;
    margin: 0px auto;
  }
}