.title {
  margin-bottom: 30px;
}

.welcome {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 100px;
  background-color: antiquewhite;
}

.about {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: aquamarine;
}

.about-paragraph {
  font-size: large;
}

.projects {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 10px;
  background-color: antiquewhite;
}

.project {
  margin-top: 10px;
  margin-bottom: 10px;
}

.resources {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: aquamarine;
}

.contact {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: antiquewhite;
}